In [152]:
i = 3
print(i)

3

In [5]:
j = "Hello World"
j

'Hello World'

In [1]:
a = input("What is your name?")
a

'Nikko'

In [2]:
k = 3
k

3

In [4]:
my_boolean = True
my_boolean

True

In [9]:
type(True)

bool

In [14]:
type(10)

int

In [18]:
type("Aha")

str

In [19]:
i = 3
print(i)
i = 7
print(i)

3
7

In [22]:
s = "Aloha"
s = s.upper()
s

'ALOHA'

In [23]:
s = "Aloha"
s = s.lower()
s

'aloha'

In [45]:
l = ["Nikko", "Steve", 27,"Old",["A nested list","Haya"]]
l[4][0]
#always counting the list from left to right start with 0,1,2,3,....
#couting the list from right to left start with -1

'A nested list'

In [46]:
len(l)

5

In [47]:
len(l[-1])

2

In [113]:
t = "This is a string!"
t[10:17]

'string!'

In [156]:
t = "This is a string!"
t[0:-1]

'This is a string'

In [165]:
new_list = ["world"]
print (new_list)
new_list.append("this is a string")
print(new_list)
new_list.insert(0,19)
print(new_list)
new_list.insert(1,"amanda")
print(new_list)

['world']
['world', 'this is a string']
[19, 'world', 'this is a string']
[19, 'amanda', 'world', 'this is a string']

In [138]:
new_list = ["world"]
print (new_list)
new_list.append("this is a string")
print(new_list)
new_list.insert(0,19)
print(new_list)
new_list.pop()
print(new_list)
new_list.pop(0)
print(new_list)

['world']
['world', 'this is a string']
[19, 'world', 'this is a string']
[19, 'world']
['world']

In [142]:
number_list = [0,5,4,2,1,3,]
number_list.sort(reverse = True)
number_list

[5, 4, 3, 2, 1, 0]

In [174]:
number_list = [0,5,4,2,1,3, int(-1)]
print(sorted(number_list, reverse=True))

[5, 4, 3, 2, 1, 0, -1]

In [169]:
string_list=["Zebra","Badger","Sean","potato","carrot"]
print(sorted(string_list))

['Badger', 'Sean', 'Zebra', 'carrot', 'potato']

In [179]:
print(type("5"))

<class 'str'>

In [191]:
age=input("How old are you?")#this will return a string
age= int(age)+1 #so we have to cast it to a number before doing artmetic
print(f"In a year you will be {age}.") #string interpolation. Anything in the curly brackets will be integer

In a year you will be 28.

In [199]:
age=input("How old are you?")
age = int(age)
print("In a year you will be",age+1,".")

In a year you will be 28 .

In [201]:
HOURLY_SALARY=50 #convention of creating a constant is have the variable name in all caps.

from typing import Final
#Importing the Final class from the "typing" - someone else has already coded this and we are borrowing to you.
NEW_HOURLY_SALARY: Final [int] = 60
NEW_HOURLY_SALARY = 61
print(NEW_HOURLY_SALARY)

61